<md-menu md-position-mode="cascade bottom">
    <div>
        <md-button ng-click="$mdMenu.open($event)" class="md-icon-button">
            <md-icon md-font-library="material-icons">
                create
            </md-icon>
        </md-button>
    </div>
    <md-menu-content width="8">
        <div>
            <md-menu-item>
                <form name="userForm" ng-submit="$ctrl.onSubmit();" class="userForm">
                    <md-input-container>
                        <label>Name</label>
                        <input ng-model="$ctrl.editedDiagnose.name">
                    </md-input-container>
                    <md-input-container>
                        <label>Diagnose</label>
                        <input ng-model="$ctrl.editedDiagnose.diagnose">
                    </md-input-container>
                    <md-input-container>
                        <label>Date</label>
                        <input ng-model="$ctrl.editedDiagnose.date">
                    </md-input-container>
                    <md-input-container>
                        <label>Resolved</label>
                        <input ng-model="$ctrl.editedDiagnose.resolved">
                    </md-input-container>
                    <md-button type="submit" ng-click="$ctrl.announceClick()" class="edit-diagnose-submit">
                        Submit
                    </md-button>
                    <md-button class="md-raised md-primary edit-diagnose-submit">
                        Cancel
                    </md-button>
                </form>
            </md-menu-item>
        </div>
    </md-menu-content>
</md-menu>