.message {
    display: block;
    margin: 3%;
    color: #3f51b5;
    text-decoration: underline;
}

.patient-container {
    padding-left: 50px;
}

md-content, html {
    background-color: #fff;
}

.sidebar-container {
    padding-top: 15px;

}