<md-button class="md-primary md-raised" ng-click="$ctrl.showPatientEditModal($event)">
   Edit patient
</md-button>
<div style="visibility: hidden">
   <div class="md-dialog-container" id="editDialog">
      <md-dialog aria-label="Edit patient information">
         <form ng-cloak name="form">
            <md-toolbar>
               <div class="md-toolbar-tools">
                  <h2>Edit patient information</h2>
                  <span flex></span>
                  <md-button class="md-icon-button" ng-click="$ctrl.hidePatientEditModal()">
                    </md-button>
               </div>
            </md-toolbar>
            <md-dialog-content>
               <div class="md-dialog-content">
                  <md-list flex>
                     <md-list-item>
                        <div flex-xs flex-gt-xs="100" layout="row">
                           <div flex layout="row" flex-gt-xs="30" layout-align="left">
                              <span class="no-select">First name:</span>
                           </div>
                           <div flex layout="row" flex-gt-xs="70" layout-align="left">
                              <md-input-container>
                                 <input name="firstname"
                                  type="text"
                                   ng-model="$ctrl.patientEdit.firstName" 
                                   required-validation-directive 
                                   only-text-directive  />
                                 <div ng-messages="form.firstname.$error" ng-show="form.firstname.$touched"  role="alert" multiple>
                                    <div ng-message="empty">Firstname shouldn`t be empty</div>
                                    <div ng-message="text">Firstname can only contain letters and punctuation</div>
                                 </div>
                              </md-input-container>
                           </div>
                        </div>
                        <div flex-xs flex-gt-xs="100" layout="row">
                           <div flex layout="row" flex-gt-xs="30" layout-align="left">
                              <span>Last name:</span>
                           </div>
                           <div flex layout="row" flex-gt-xs="70" layout-align="left">
                              <md-input-container>
                                 <input type="text"
                                  name="lasname"
                                   ng-model="$ctrl.patientEdit.lastName" 
                                   required-validation-directive 
                                   only-text-directive />
                                 <div ng-messages="form.lasname.$error" ng-show="form.lasname.$touched" multiple  role="alert" multiple>
                                    <div ng-message="empty">Lastname shouldn`t be empty</div>
                                    <div ng-message="text">Lastname can only contain letters and punctuation</div>
                                 </div >
                              </md-input-container>
                           </div>
                        </div>
                     </md-list-item>
                     <md-list-item>
                        <div flex-xs flex-gt-xs="100" layout="row">
                           <div flex layout="row" flex-gt-xs="30" layout-align="left">
                              <span class="no-select">Sex:</span>
                           </div>
                           <div flex layout="row" flex-gt-xs="70" layout-align="left">
                              <md-input-container class="md-block" flex-gt-sm>
                                 <md-select ng-model="$ctrl.patientEdit.sex">
                                    <md-option ng-repeat="sex in $ctrl.sexes" 
                                       value="{{sex.text}}" required>
                                       {{sex.text}}
                                    </md-option>
                                 </md-select>
                              </md-input-container>
                           </div>
                        </div>
                        <div flex-xs flex-gt-xs="100" layout="row">
                           <div flex layout="row" flex-gt-xs="30" layout-align="left">
                              <span class="no-select">Birth data:</span>
                           </div>
                           <div flex layout="row" flex-gt-xs="70" layout-align="left">
                               
                              <md-input-container>
                                 <md-datepicker md-placeholder="{{$ctrl.patientEdit.birthData}}"   ng-model="$ctrl.patientEdit.birthData"  ></md-datepicker>
 
                              </md-input-container>
                           </div>
                        </div>
                     </md-list-item>
                     <md-list-item>
                        <div flex-xs flex-gt-xs="100" layout="row">
                           <div flex layout="row" flex-gt-xs="30" layout-align="left">
                              <span class="no-select">Phone:</span>
                           </div>
                           <div flex layout="row" flex-gt-xs="70" layout-align="left">
                              <md-input-container>
                                 <input type="text"
                                  name="phone"
                                   ng-model="$ctrl.patientEdit.phone"
                                    phone-validation-directive 
                                    required-validation-directive />
                                 <div ng-messages="form.phone.$error" ng-show="form.phone.$touched" multiple  role="alert" multiple>
                                    <div ng-message="empty">Phone shouldn`t be empty</div>
                                    <div ng-message="phone">Phone must match +38(099)-999-99-99 pattern </div>
                                 </div >
                              </md-input-container>
                           </div>
                        </div>
                        <div flex-xs flex-gt-xs="100" layout="row">
                           <div flex layout="row" flex-gt-xs="30" layout-align="left">
                              <span class="no-select">Work phone:</span>
                           </div>
                           <div flex layout="row" flex-gt-xs="70" layout-align="left">
                              <md-input-container>
                                 <input type="text" 
                                 name="workPhone" 
                                 ng-model="$ctrl.patientEdit.workPhone"
                                  phone-validation-directive
                                   required-validation-directive />
                                 <div ng-messages="form.workPhone.$error" ng-show="form.workPhone.$touched" multiple  role="alert" multiple>
                                    <div ng-message="empty">Phone shouldn`t be empty</div>
                                    <div ng-message="phone">Phone must match +38(099)-999-99-99 pattern </div>
                                 </div >
                              </md-input-container>
                           </div>
                        </div>
                     </md-list-item>
                     <md-list-item>
                        <div flex-xs flex-gt-xs="100" layout="row">
                           <div flex layout="row" flex-gt-xs="30" layout-align="left">
                              <span class="no-select">Email:</span>
                           </div>
                           <div flex layout="row" flex-gt-xs="70" layout-align="left">
                              <md-input-container>
                                 <input type="text" 
                                 name="email" 
                                 ng-model="$ctrl.patientEdit.email"
                                  email-validation-directive
                                  required-validation-directive />
                                 <div ng-messages="form.email.$error" ng-show="form.email.$touched" multiple  role="alert" multiple>
                                    <div ng-message="whitespaces">Email should not be with whitespaces </div>
                                    <div ng-message="email">Email must contain only digits,ponits and lowercase letters and @ sign</div>
                                    <div ng-message="empty">Email should not be with whitespaces</div>
                                 </div >
                              </md-input-container>
                           </div>
                        </div>
                        <div flex-xs flex-gt-xs="100" layout="row">
                           <div flex layout="row" flex-gt-xs="30" layout-align="left">
                              <span class="no-select">Business:</span>
                           </div>
                           <div flex layout="row" flex-gt-xs="70" layout-align="left">
                              <md-input-container>
                                 <input name="business"
                                  type="text" 
                                 ng-model="$ctrl.patientEdit.business" 
                                 required-validation-directive
                                  only-text-directive/>
                                 <div ng-messages="form.business.$error" ng-show="form.business.$touched" multiple  role="alert" multiple>
                                    <div ng-message="empty">Business shouldn`t be empty</div>
                                    <div ng-message="text">Business  name can only contain letters and punctuation</div>
                                 </div>
                              </md-input-container>
                           </div>
                        </div>
                     </md-list-item>
                     <md-list-item>
                        <div flex-xs flex-gt-xs="100" layout="row">
                           <div flex layout="row" flex-gt-xs="30" layout-align="left">
                              <span class="no-select">Zip:</span>
                           </div>
                           <div flex layout="row" flex-gt-xs="70" layout-align="left">
                              <md-input-container>
                                 <input name="zip" only-digit-directive required-validation-directive type="text" ng-model="$ctrl.patientEdit.zip" />
                                 <div ng-messages="form.zip.$error" ng-show="form.zip.$touched" multiple  role="alert" multiple>
                                    <div ng-message="empty">Zip shouldn`t be empty</div>
                                    <div ng-message="digit">Zip must contain only digits whithout whitespaces</div>
                                 </div >
                              </md-input-container>
                           </div>
                        </div>
                        <div flex-xs flex-gt-xs="100" layout="row">
                           <div flex layout="row" flex-gt-xs="30" layout-align="left">
                              <span class="no-select">City:</span>
                           </div>
                           <div flex layout="row" flex-gt-xs="70" layout-align="left">
                              <md-input-container>
                                 <input name="city" 
                                 type="text" 
                                 ng-model="$ctrl.patientEdit.city" 
                                 required-validation-directive
                                  only-text-directive />
                                 <div ng-messages="form.city.$error" ng-show="form.city.$touched" multiple  role="alert" multiple>
                                    <div ng-message="empty">City shouldn`t be empty</div>
                                    <div ng-message="text">City name can only contain letters and punctuation</div>
                                 </div>
                              </md-input-container>
                           </div>
                        </div>
                     </md-list-item>
                     <md-list-item>
                        <div flex-xs flex-gt-xs="100" layout="row">
                           <div flex layout="row" flex-gt-xs="30" layout-align="left">
                              <span class="no-select">Street:</span>
                           </div>
                           <div flex layout="row" flex-gt-xs="70" layout-align="left">
                              <md-input-container>
                                 <input type="text"
                                   name="street" 
                                   ng-model="$ctrl.patientEdit.street" 
                                   required-validation-directive 
                                   only-text-directive />
                                 <div ng-messages="form.street.$error" ng-show="form.street.$touched" multiple  role="alert" multiple>
                                    <div ng-message="empty">Street filed shouldn`t be empty</div>
                                    <div ng-message="text">Street name can only contain letters and punctuation</div>
                                 </div>
                              </md-input-container>
                           </div>
                        </div>
                        <div flex-xs flex-gt-xs="100" layout="row">
                           <div flex layout="row" flex-gt-xs="30" layout-align="left">
                              <span class="no-select">House:</span>
                           </div>
                           <div flex layout="row" flex-gt-xs="70" layout-align="left">
                              <md-input-container>
                                 <input type="text"
                                  name="house" 
                                  ng-model="$ctrl.patientEdit.house" 
                                  only-digit-directive 
                                  required-validation-directive />
                                 <div ng-messages="form.house.$error" ng-show="form.house.$touched" multiple  role="alert" multiple>
                                    <div ng-message="empty">House filed shouldn`t be empty</div>
                                    <div ng-message="digit">House number must contain only digits</div>
                                 </div >
                              </md-input-container>
                           </div>
                        </div>
                     </md-list-item>
                  </md-list>
               </div>
            </md-dialog-content>
            <md-dialog-actions layout="row">
               <md-button ng-click="$ctrl.hidePatientEditModal()">
                  Cancel
               </md-button>
               <span flex></span>
               <md-button ng-click="$ctrl.savePatientEditModal()" ng-disabled="form.$invalid">
                  Save
               </md-button>
            </md-dialog-actions>
         </form>
      </md-dialog>
   </div>
</div>