.button {
    display: inline;
    position: relative;
    color: #3f51b5;
    left: 50px;
}

#loginDialog md-dialog{
    min-width: 500px;
    max-width: 90%;
    max-height: 100%;
}

.button-login {
  margin-left: 0;
}

.form-title {
    text-align: center;
    color: #3f51b5;
}

.form-content {
    margin: 3%;
}

.form-wrapper {
    flex: 100;
    visibility: hidden;
}

.descr{
    font-size: 20px;
    font-style: italic;
    line-height: 1.7;
    padding: 0 25px;
}

.descr-block{
    text-align: center;
}

.indigo-color{
    color: #3F51B5;
}

.error{
    color: red;
    font-size: 18px;
    text-align: center;
}